@{
    ViewData["Title"] = "Display Data2";
    string[] TableHeaders = new string[] {"ID", "Email"
                        ,"First Name"
                        ,"Last Name"
                        ,"Follow user"};
}

<p>All users info page</p>


<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.ID</td>
                            <td>@Data.Email</td>
                            <td>@Data.FirstName</td>
                            <td>@Data.LastName</td>
                            <td>
                                <input type="button" value="follow" class="btn btn-info" onclick='window.location.href = "@Url.Action("AddFollower", "Home")";' />
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
