@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[] {"ID", "Email"
                        ,"First Name"
                        ,"Last Name"
                        ,"Unfollow user"};
}
@using Microsoft.AspNetCore.Identity
@using PSA.Areas.Identity.Data

@inject SignInManager<PSAUser> SignInManager
@inject UserManager<PSAUser> UserManager
<p>All users info page</p>
<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        if (Data.ID != @UserManager.GetUserId(User))
                        {
                            <tr>
                                <td>@Data.ID</td>
                                <td>@Data.Email</td>
                                <td>@Data.FirstName</td>
                                <td>@Data.LastName</td>
                                <td>
                                    <input type="button" value="unfollow" class="btn btn-info" onclick='window.location.href = "@Url.Action("ViewFollowedUsers", "Home", new { ID = Data.ID})";' />
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>
